<mat-card-header>
    <mat-card-title>INVITADO</mat-card-title>
</mat-card-header>
  <mat-card-content>
    <form [formGroup]="FormGuest">
      <div class="example-container">
        <mat-form-field>
          <input matInput formControlName="fullName" placeholder="Nombre Completo del invitado" class="form-control" id="fullName" required>
        </mat-form-field>
        <div class="color-required" *ngIf="FormGuest.get('fullName').touched && FormGuest.get('fullName').invalid">
          Nombre es requerido
        </div>
      </div>
    </form>
  </mat-card-content>
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="updateGuest()" [disabled]="FormGuest.invalid">Editar</button>
  <button mat-button type="button" mat-dialog-close>Cancelar</button>
</mat-card-actions>
  